<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h2 th:if="${username == null}">Please <a href="/login">log in to join the discussion.</a></h2>
<h2 th:unless="${username == null}" th:text="'Hi, ' + firstName + '!'"></h2>

<p>Welcome to Codefellowship-- a community for those learning to code.</p>

<form action="/logout" th:method="delete">
    <input type="submit" value="Log Out">
</form>

</body>
</html>